type project
licenseUrl http://opensource.org/licenses/MIT
id Legivel
authors Frank Joppe
include-referenced-projects true

projectUrl
  https://github.com/fjoppe/Legivel

requireLicenseAcceptance
    false

copyright
    Copyright 2017

tags
  yaml parser processor fsharp

summary
  Legivel is a Yaml1.2 to Native processor, which emits Fsharp types.

dependencies
  FSharp.Core >= 4.1.0   
