source https://nuget.org/api/v2
framework: net45

nuget FAKE
nuget FSharp.Core ~> 4.0.0 redirects: force
nuget NUnit

group Build
  source https://nuget.org/api/v2
  framework: net45
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  framework: net45
  
  nuget NUnit
  nuget NUnit.ConsoleRunner
  nuget NLog.Fsharp
  nuget FSharp.Data
  
  github fsprojects/FsUnit src/FsUnit.NUnit/FsUnitTyped.fs