<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
  <variable name='logpath' value='c:/temp/log.txt' /> <!-- temporary, this is changed from failfast script -->
  <targets>
    <target xsi:type="Console"
            name="console"
            error="false"
            layout="${message}"
      />
    <target xsi:type="File"
        name="f1"
        fileName="${var:logpath}"
        autoFlush="true"
        deleteOldFileOnStartup="true"
        layout="${message}"
      />
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="console" />-->
    <logger name="*" minlevel="Trace" writeTo="f1" />
  </rules>
</nlog>
